html {
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
}


h1 {
    font-size: 50px;
}

h1, footer {
    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: rgb(12, 4, 4);
    padding: 50px;
    position: relative;
    margin: 0px;
    top: 0;
    left: 0;
    /* width: 100%; */
}

button {
    background-color: transparent;
    padding: 15px;
    margin: 20px;
    border-radius: 50%;
    border-color: rgb(173, 135, 59);
}

.buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 230px; 
    position: relative;
}

.scoreboard {
    color:rgb(173, 135, 59);
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    text-align: center;
    position: relative;
    top: -200px;
}

h4 {
    text-align: center;
    position: relative;
}
.leftsb {
    top: -200px;
    padding-right: 300px;
}

.rightsb {
    top: -240px;
    padding-left: 300px;
}

footer {
    font-size: large;
}

.footer {
    position: fixed;
    background-color: rgb(12, 4, 4);
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
}