html {
    background-color: rgb(0, 0, 0);
    opacity: 0.9;
}


h1 {
    font-size: 50px;
}

h1, footer {
    text-align: center; 
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    background-color: rgb(12, 4, 4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

button {
    background-color: transparent;
    padding: 15px;
    margin: 20px; 
    border-radius: 50%;
    border-color: rgb(173, 135, 59);

}

.buttons {
    position: relative;
    height: 100%;
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    color:rgb(173, 135, 59);
    font-family: 'Courier New', Courier, monospace;
}

.sb-title {
    text-align: center;
}

.pVc {
    display: flex;
    text-align: center;
    justify-content:center;
    align-items: center;
    gap: 200px;
}

footer {
    font-size: large;
}

.footer {
    position: fixed;
    background-color: rgb(12, 4, 4);
    left: 0;
    bottom: 0;
    width: 100%;
}